.card-container {
  height: 50rem;
  max-width: 70rem;
  width: 100%;
  border: 3px solid var(--color3);
  border-radius: 0.4rem;
  padding: 3rem;

  display: flex;

  justify-content: space-evenly;

  .cards {
    border: 1px solid var(--color3);
    width: 100%;
    background-color: var(--color2);

    &__title {
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid var(--color3);
    }

    &__info {
      display: flex;
      justify-content: space-between;
      margin-inline: auto;
      width: 30rem;
      border-bottom: 1px solid var(--color3);
      font-size: 2rem;
      font-family: 'Times New Roman', Times, serif;
    }
  }
}
